$info: #6b76ff;

.input-fields {
    width: 100%;
    border: none;
    border-bottom: 2px solid $info;
    border-radius: 0%;
    box-shadow: none;
}

.password-inputs {
    display: flex;
    justify-content: space-between;
    .input-fields {
        width: 48%;
    }

}